{% extends "base.html" %}
{% load static %}

{% block extra_title %}
  | Home
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!--Hero Image Carousel-->
  <section>
  <div class="container-fluid pt-4">
      <div class="row">
        <div class="col-sm-12 d-md-none">
          <h2 class="mob-logo pt-5 center">sound store</h2>
          <img class="d-block hero hero-mob" src='{{ MEDIA_URL }}ms-4-hero-3.jpg' alt="Inner shop hero 1">
        </div>
          <div class="d-none d-md-block col-md-12">
                <div id="carousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block hero" src='{{ MEDIA_URL }}ms-4-hero-3.jpg' alt="Inner shop hero 1">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block hero " src="{{ MEDIA_URL }}ms-4-hero.jpg" alt="Inner shop hero 2">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block hero " src="{{ MEDIA_URL }}ms-4-hero-2.jpg" alt="Inner shop hero 3">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block hero " src="{{ MEDIA_URL }}ms-4-hero.jpg" alt="Inner shop hero 4">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>

   <!--Category Links-->
   <section>
      <h2 class="pt-5 mt-2 category-logo">Our Categories</h2>
      <!--Mobile screen images-->
      <div class="container category-container pt-5">
        <div class="row d-flex flex-row">
          <div class="col-6 d-md-none category category-mob">
            <a href="{% url 'products' %}?category=drum_sets,shell_sets,cymbals">
            <img class="category-images " src="{{ MEDIA_URL }}drums-category-1.jpg" alt="Drum Set Category">
            <p class="descriptor p-2">Drums</p>
            </a>
          </div>
          <div class="col-6 d-md-none category category-mob">
            <a href="{% url 'products' %}?category=electric_guitar,acoustic_guitar">
           <img class="category-images" src="{{ MEDIA_URL }}guitar-category-3.jpg" alt="Guitar Category">
           <p class="descriptor p-2">Guitars</p>
           </a>
         </div>
        </div>
        <div class="row d-flex flex-row">
        <div class="col-6 d-md-none category category-mob">
          <a href="{% url 'products' %}?category=electric_bass,acoustic_bass">
          <img class="category-images" src="{{ MEDIA_URL }}bass-category.jpg" alt="Bass Guitar Category">
          <p class="descriptor p-2">Bass</p>
          </a>
        </div>
        <div class="col-6 d-md-none category category-mob">
          <a href="{% url 'products' %}?category=trumpet,saxophone,trombone">
          <img class="category-images" src="{{ MEDIA_URL }}trumpet-category-1.jpg" alt="Brass Category">
          <p class="descriptor p-2">Brass</p>
          </a>
        </div>
      </div>
      <div class="row d-flex flex-row pb-5">
        <div class="col-6 d-md-none category category-mob">
          <a href="{% url 'products' %}?category=violin,viola">
          <img class="category-images" src="{{ MEDIA_URL }}viola-category.jpg" alt="String Instruments Category">
          <p class="descriptor p-2">Strings</p>
          </a>
        </div>
        <div class="col-6 d-md-none category category-mob">
          <a href="{% url 'products' %}?category=microphones,hardware,strings_straps">
          <img class="category-images" src="{{ MEDIA_URL }}accessories.jpg" alt="Accessories Category">
          <p class="descriptor p-2">Accessories</p>
          </a>
        </div>
      </div>
      </div>
       <!--Laptop screen images-->
       <div class="container-fluid category-container">
         <div class="row d-flex flex-row">
           <div class="d-none d-md-block col-md-2 d-lg-none p-5 category category-mob">
             <a href="{% url 'products' %}?category=drum_sets,shell_sets,cymbals">
             <img class="category-images " src="{{ MEDIA_URL }}drums-category-1.jpg" alt="Drum Set Category">
             <p class="descriptor p-2">Drums</p>
             </a>
           </div>
           <div class="d-none d-md-block col-md-2 d-lg-none p-5 category category-mob">
             <a href="{% url 'products' %}?category=electric_guitar,acoustic_guitar">
            <img class="category-images" src="{{ MEDIA_URL }}guitar-category-3.jpg" alt="Guitar Category">
            <p class="descriptor p-2">Guitars</p>
            </a>
          </div>
          <div class="d-none d-md-block col-md-2 d-lg-none p-5 category category-mob">
            <a href="{% url 'products' %}?category=electric_bass,acoustic_bass">
            <img class="category-images" src="{{ MEDIA_URL }}bass-category.jpg" alt="Bass Guitar Category">
            <p class="descriptor p-2">Bass</p>
            </a>
          </div>
          <div class="d-none d-md-block col-md-2 d-lg-none p-5 category category-mob">
            <a href="{% url 'products' %}?category=trumpet,saxophone,trombone">
            <img class="category-images" src="{{ MEDIA_URL }}trumpet-category-1.jpg" alt="Brass Category">
            <p class="descriptor p-2">Brass</p>
            </a>
          </div>
          <div class="d-none d-md-block col-md-2 d-lg-none p-5 category category-mob">
            <a href="{% url 'products' %}?category=violin,viola">
            <img class="category-images" src="{{ MEDIA_URL }}viola-category.jpg" alt="String Instruments Category">
            <p class="descriptor p-2">Strings</p>
            </a>
          </div>
          <div class="d-none d-md-block col-md-2 d-lg-none p-5 category category-mob">
            <a href="{% url 'products' %}?category=microphones,hardware,strings_straps">
            <img class="category-images" src="{{ MEDIA_URL }}accessories.jpg" alt="Accessories Category">
            <p class="descriptor p-2">Accessories</p>
            </a>
          </div>
         </div>

         <!--Laptop screen images-->
         <div class="container-fluid category-container">
          <div class="row d-flex flex-row large-category-screen">
            <div class="d-none d-lg-block col-lg-4 category category-mob">
              <a href="{% url 'products' %}?category=drum_sets,shell_sets,cymbals">
              <img class="category-images " src="{{ MEDIA_URL }}drums-category-1.jpg" alt="Drum Set Category">
              <p class="descriptor p-2">Drums</p>
              </a>
            </div>
            <div class="d-none d-lg-block col-lg-4  category category-mob">
              <a href="{% url 'products' %}?category=electric_guitar,acoustic_guitar">
             <img class="category-images" src="{{ MEDIA_URL }}guitar-category-3.jpg" alt="Guitar Category">
             <p class="descriptor p-2">Guitars</p>
             </a>
           </div>
           <div class="d-none d-lg-block col-lg-4  category category-mob">
             <a href="{% url 'products' %}?category=electric_bass,acoustic_bass">
             <img class="category-images" src="{{ MEDIA_URL }}bass-category.jpg" alt="Bass Guitar Category">
             <p class="descriptor p-2">Bass</p>
             </a>
           </div>
           </div>

           <div class="row d-flex flex-row">
            <div class="d-none d-lg-block col-lg-4  category category-mob">
              <a href="{% url 'products' %}?category=trumpet,saxophone,trombone">
              <img class="category-images" src="{{ MEDIA_URL }}trumpet-category-1.jpg" alt="Brass Category">
              <p class="descriptor p-2">Brass</p>
              </a>
            </div>
            <div class="d-none d-lg-block col-lg-4  category category-mob">
              <a href="{% url 'products' %}?category=violin,viola">
              <img class="category-images" src="{{ MEDIA_URL }}viola-category.jpg" alt="String Instruments Category">
              <p class="descriptor p-2">Strings</p>
              </a>
            </div>
            <div class="d-none d-lg-block col-lg-4  category category-mob">
              <a href="{% url 'products' %}?category=microphones,hardware,strings_straps">
              <img class="category-images" src="{{ MEDIA_URL }}accessories.jpg" alt="Accessories Category">
              <p class="descriptor p-2">Accessories</p>
              </a>
            </div>
           </div>
       </div>
   </section>
{% endblock %}