{% extends "base.html" %}
{% load static %}

{% block extra_title %}
  | Order Successful
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font mt-5 mb-5 center"><i>Thanks for your order</i></h2>
            <hr>
            <p>You will receive a confirmation of you order at <i>{{ order.email }}</i></p>
        </div>
    </div>

    <div class="row">
       <div class="col-12 col-lg-7">
         <!--Order Summary-->
       </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7">
        <a href="{ url 'products' }" class="btn">Back to store!</a>
      </div>
    </div>
</div>
{% endblock %}
