{% extends "base.html" %}
{% load static %}

{% block extra_title %}
  | Checkout
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font mt-5 mb-5 center"><i>Shopping Cart</i></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
           <p class="text-muted">Fill out form to complete your order</p>
           <form method="POST" action="{% url 'checkout' %}" id="payment-form">
              {% csrf_token %}
              
           </form>
        </div>
    </div>
</div>
{% endblock %}

