<div class="collapse navbar-collapse category-nav" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font category-head font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <h6 class="dropdown-heading">All Products</h6>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font category-head font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drums
            </a>
            <div class="dropdown-menu" aria-labelledby="clothing-link">
                <h6 class="dropdown-heading">Drums</h6>
                <a href="{% url 'products' %}?category=drum_sets" class="dropdown-item">Drum Sets</a>
                <a href="{% url 'products' %}?category=shell_sets" class="dropdown-item">Shell sets</a>
                <a href="{% url 'products' %}?category=cymbals" class="dropdown-item">Cymbals</a>
                <a href="{% url 'products' %}?category=drum_sets,shell_sets,cymbals" class="dropdown-item">All Drums</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font category-head font-weight-bold nav-link mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Guitars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <h6 class="dropdown-heading">Guitars</h6>
                <a href="{% url 'products' %}?category=electric_guitar" class="dropdown-item">Electric</a>
                <a href="{% url 'products' %}?category=acoustic_guitar" class="dropdown-item">Acoustic</a>
                <a href="{% url 'products' %}?category=electric_guitar,acoustic_guitar" class="dropdown-item">All Guitars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font category-head font-weight-bold nav-link mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bass
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <h6 class="dropdown-heading">Bass</h6>
                <a href="{% url 'products' %}?category=electric_bass" class="dropdown-item">Electric Basses</a>
                <a href="{% url 'products' %}?category=acoustic_bass" class="dropdown-item">Acoustic Basses</a>
                <a href="{% url 'products' %}?category=electric_bass,acoustic_bass" class="dropdown-item">All Basses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font category-head font-weight-bold nav-link mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brass
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <h6 class="dropdown-heading">Brass</h6>
                <a href="{% url 'products' %}?category=trumpet" class="dropdown-item">Trumpets</a>
                <a href="{% url 'products' %}?category=saxophone" class="dropdown-item">Saxophones</a>
                <a href="{% url 'products' %}?category=trombone" class="dropdown-item">Trombones</a>
                <a href="{% url 'products' %}?category=trumpet,saxophone,trombone" class="dropdown-item">All Brass</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font category-head font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Strings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <h6 class="dropdown-heading">Strings</h6>
                <a href="{% url 'products' %}?category=violin" class="dropdown-item">Violins</a>
                <a href="{% url 'products' %}?category=viola" class="dropdown-item">Violas</a>
                <a href="{% url 'products' %}?category=violin,viola" class="dropdown-item">All Strings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font category-head font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <h6 class="dropdown-heading">Accessories</h6>
                <a href="{% url 'products' %}?category=microphones" class="dropdown-item">Microphones</a>
                <a href="{% url 'products' %}?category=hardware" class="dropdown-item">Hardware</a>
                <a href="{% url 'products' %}?category=strings_straps" class="dropdown-item">Strings & Straps </a>
                <a href="{% url 'products' %}?category=microphones,hardware,strings_straps" class="dropdown-item">All Accessories</a>
            </div>
        </li>
    </ul>
</div>
